#chart { border: 1px solid black;}
svg { background: white; border: 1px solid black; display: inline-block; position: absolute;}



#ispis_zupanije{
			display: none;
			position: absolute;			
			text-align: center;			
			width: 200px;					
			height: 40px;					
			padding: 2px;				
			font: 15px sans-serif;	
			font-weight: normal; 	
			border: 3px;		
			border-radius: 20px;
            border-color: black;
            background: cyan;
            pointer-events: none;
		}

#slider{
    width: 500px;
}

#line_chart{
    display: inline-block;
    position: absolute;
    left: 60%;
    float:left;
}

.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 13px;
}

.axis path,
  .axis line{
    fill: none;
    stroke: black;
  }

.grid .tick {
    stroke: lightgray;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}

.active{
    border: 3px;		
    border-radius: 5px;
    border-color: black;
    background: pink;
}

#lgnd .axis text {
				font: 10px sans-serif;
			}

#lgnd .axis line, 
#lgnd .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#lgnd {
    padding: 5px;
    padding-top: 250px;
}

#lgnd svg{ 
    padding-left: 30px;
    border: none;
    
}

